* {
    margin: 0;
    padding: 0;
}
.container {
 width: 90%;
 margin: 0 auto;
}
a {
    text-decoration:none ;
}
button {
    border: none;
}
body {
    background: #000;
    font-family: "Fira Sans", sans-serif;
}
#header {
    padding: 58px 0;
}
.header {
height: 62px;
border-radius: 12px;
border: 3px solid #F00;
background: rgba(121, 116, 116, 0.10);
backdrop-filter: blur(7.5px);
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 15px ;
}
.header-nav a {
    color: #FFF;
font-size: 14px;
font-weight: 700;
margin: 0 17.5px;
}
.header-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
font-size: 24px;
font-weight: 700;
width: 209px;
height: 46px;
border-radius: 7px;
border: 3px solid #FFF;
}
#hero {
    padding: 80px 0;
}
.hero h1 {
    color: #FFF;
    font-size: 144px;
    font-weight: 700;
    letter-spacing: 9.36px;
    z-index: 1;
}
.hero hr {
    width: 312.026px;
height: 3px;
background: #F00;
border: none;
z-index: 1;
}
.hero h3 {
    color: #FFF;
font-size: 33px;
font-weight: 700;
letter-spacing: 2.145px;
margin: 12px 0 35px 0;
z-index: 1;
}
.hero button {
    color: #000;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.91px;
width: 160px;
height: 40px;
border-radius: 27px;
background: #FFF;
margin-bottom: 46px;
z-index: 1;
}
.hero p {
    color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
z-index: 1;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero-bg {
    position: absolute;
    bottom: 2px;
    width: 477px;
height: 477px;
border-radius: 477px;
background: #D81010;
filter: blur(150px);
}
.hero-left {
    position: absolute;
    left: -66px;
top: 80px;
}
.hero-rigth {
    position: absolute;
    right: -66px;
    top: -97px ;
}
.hero-icon {
    position:absolute ;
    left: 40px;
    bottom: -220px;
    width: 63px;
height: 63px;
border-radius: 50px;
background: #FF0000;
}
.hero-icon span {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 25px;
    color: #FFF;
    margin-top: 20px;
}
#people {
    padding: 80px 0;
}
.people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.people hr {
    width: 180px;
height: 3px;
background: #F00;
border: none;
}
.people h1 {
    color: #FFF;
font-size: 40px;
font-weight: 700;
letter-spacing: 2.6px;
margin: 4px 0 25px 0;
}
.people p {
    text-align: center;
    color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
}
.main-cards {
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
.card1 h4 {
color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
text-align:center ;
}
.car1 hr {
    width: 94.085px;
height: 2px;
background: #F00;
}
.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card2 h4 {
color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
text-align:center ;
}
.card2 hr {
    width: 121px;
height: 2px;
background: #F00;
}
.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card3 h4 {
color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
text-align:center ;
}
.card3 hr {
    width: 121px;
height: 2px;
background: #F00;
}
.card3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.people-text {
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1200px;
}
.text-left hr {
    width: 232px;
    height: 3px;
    background: #F00;
}
.text-left h2 {
    color: #FFF;
font-size: 30px;
font-weight: 700;
letter-spacing: 1.95px;
margin: 19px 0;
}
.text-left p {
    text-align: center;
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
}
.text-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-rigth hr {
    width: 232px;
height: 3px;
background: #F00;
}
.text-rigth h2 {
    color: #FFF;
font-size: 30px;
font-weight: 700;
letter-spacing: 1.95px;
margin: 19px 0;
}
.text-rigth p {
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
}
.people-btn {
    width: 176px;
height: 44px;
border-radius: 27px;
background: #FFF;
color: #000;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.91px;
margin-top: 24px;
text-align: center;
}
.people {
    position: relative;
}
.people-left {
    position: absolute;
    left: -65px;
    bottom: -640px;
}
.people-rigth {
    position: absolute;
    right: -65px;
    bottom: -600px;
}
#bag {
    padding: 270px 0 80px 0;
}
.bag hr {
    width: 364px;
height: 3px;
background: #F00;
border: none;
}
.bag h1 {
    color: #FFF;
font-size: 40px;
font-weight: 700;
letter-spacing: 2.6px;
margin: 4px 0 46px 0;
}
.bag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bag-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 60px 0;
}
.bag-card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bag-card-text p {
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
margin-bottom: 68px;
}
.bag .bag-card-text button {
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
width: 206px;
height: 57px;
border-radius: 51px;
background: #F00;
}
.bag-card img {
    position: relative;
    z-index: 1;
}
.card1-bg {
    width: 477px;
height: 477px;
border-radius: 477px;
background: #D81010;
filter: blur(150px);
    position: absolute;
}
.card2-bg {
    width: 477px;
height: 477px;
border-radius: 477px;
background: #D81010;
filter: blur(150px);
    position: absolute;
    right: 90px;
}
.bag button {
    color: #000;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.91px;
width: 176px;
height: 44px;
border-radius: 27px;
background: #FFF;
}
.bag {
    position: relative;
}
.bag-left {
    position: absolute;
    left: -65px;
    bottom: -470px;
}
.bag-rigth {
    position: absolute;
    right: -67px;
    bottom: -510px;
}
#about {
    padding: 280px 0 80px 0;
}
.about hr {
    width: 250px;
height: 3px;
background: #F00;
border: none;
}
.about h3 {
    color: #FFF;
font-size: 40px;
font-weight: 700;
letter-spacing: 2.6px;
margin: 4px 0 90px 0 ;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-card {
    width: 1058px;
height: 384px;
border-radius: 10px;
border: 9px solid #F00;
background: #FFF;
}

.card-text1 {
    display: flex;
    align-items: center;
    padding: 35px 0 0 60px;
}
.card-text1 span {
color: rgba(26, 24, 24, 0.329);
font-size: 20px;
}
.card-text1 h2 span {
    color: red;
    font-size: 25px;
    font-weight: 200px;
}
.card-text1 h2 {
    margin-left: 15px;
    color: #000;
    font-size: 25px;
    font-weight: 200px;
}
.card-text2 {
    display: flex;
    align-items: center;
padding: 30px 0 0 60px;
}
.card-text2 span {
    color: yellow;
    font-size: 20px;
}
.card-text2 h4 {
    margin: 0 20px ;
color: rgba(26, 24, 24, 0.329);

}
.card-text2  h4 span {
color: rgba(26, 24, 24, 0.329);
font-size: 17px;
margin-left: 20px;
}
.card-text3 {
    display: flex;
    align-items: flex-start;
    padding: 15px 0 15px 60px;
}
.card-text3 h5 {
    font-size: 16px;
    color:black ;
}
.card-text3 p {
    padding-left: 10px;
color: #000000de;
}
.card-text4 {
    padding-left: 60px ;
}
.card-text4 h4 {
    color: black;
    font-size: 16px;
}
.card-text4 p {
    color: #000000de;
    padding: 10px 0 ;
}
.card-text5 {
    padding: 20px 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-text5 h6 {
    font-size:16px ;
color: rgba(26, 24, 24, 0.329);
}
.about-icon {
    display: flex;
    align-items: center;
    padding-right: 60px;
}
.about-icon  h5{
color: rgba(26, 24, 24, 0.329);
font-size: 16px;
}
.about-icon span {
color: rgba(26, 24, 24, 0.329);
padding: 0 8px;
}
.about-icon h6 {
    font-size: 20px;
    color: green;
    padding-right: 6px;
}
.about-icon h4 {
    font-size: 20px;
color: red;
}
.icon-left {
    width: 40px;
height: 40px;
background: #FF0000;
border-radius: 50px;
}
.icon-left span {
    color: #FFF;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.icon-rigth span {
    color: #FFF;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.icon-rigth  {
background: #FF0000;
width: 40px;
height: 40px;
border-radius: 50px;
}
.about-card {
    position: relative;
}
.icon-left {
    position: absolute;
    left: -20px;
    bottom: 200px;
}
.icon-rigth {
    position: absolute;
    right: -20px;
    bottom: 200px;
}
.many-cards {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.about button {
    color: #000;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.91px;
border-radius: 27px;
background: #FFF;
width: 176px;
height: 44px;
margin: 55px 0;
}
#footer {
    padding: 100px  0 80px 0;
}
.footer hr {
    width: 537px;
height: 3px;
background: #F00;
border: none;
}
.footer h1 {
    color: #FFF;
font-size: 40px;
font-weight: 700;
letter-spacing: 2.6px;
margin: 4px 0 52px 0;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-name h5 {
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
margin: 0 0 9px 23px;
}
.footer-name input {
    width: 370px;
height: 75px;
border-radius: 7px;
border: 2px solid #F00;
background: #FFF;
color: #B7B1B1;
font-size: 18px;
font-weight: 300;
letter-spacing: 1.17px;
padding-left: 23px;
outline: none;
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 860px;
}
.footer-text h4 {
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
margin: 0 0 8px 21px;
display: flex;
align-items: center;
justify-content: flex-start;
}
.footer-text input {
    width: 862px;
height: 100px;
border-radius: 7px;
border: 2px solid #F00;
background: #FFF;
color: #B7B1B1;
font-size: 18px;
font-weight: 300;
letter-spacing: 1.17px;
padding: 0 0 102px 21px;
outline: none;
}
.footer-text {
    margin: 55px 0;
}
.footer-icon {
    display: flex;
    align-items: center;
    padding-right: 250px;
}
.footer-icon h4 {
    color: #FFF;
font-size: 24px;
font-weight: 700;
letter-spacing: 1.56px;
}
.footer-sms {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.footer-sms div {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.17px;
    margin: 0 7px;
}
.footer-sms div span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;    
}
.footer-sms div span:active {
    color: #F00;
    width: 16px;
    height: 16px;
}
.footer-sms h3 {
    color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 1.17px;
}
.footer button {
    color: #000;
font-size: 18px;
font-weight: 400;
letter-spacing: 1.17px;
width: 188px;
height: 54px;
border-radius: 7px;
background: #FFF;
margin: 18px 700px 26px 0;
}
.footer {
    position: relative;
}
.footer-img {
    position: absolute;
    bottom: -630px;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 1058px;
    height: 384px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }